body {
	color: #333;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

#main_content {
	margin: 40px;
}

h1 {
	font-size: 30px;
	margin-bottom: 40px;
}

.button_container {
	border: 1px solid #ddd;
	margin: 0 10px 10px 0;
	padding: 20px;
	width: 300px;
	height: 300px;
	float: left;
	overflow: hidden;
	box-sizing: border-box;
	text-align: center;
}



a#btn_spotify {
	display: inline-block;
	height: 50px;
	box-sizing: border-box;
	border-radius: 25px;
	margin: auto;
	margin-top: 100px;
	padding: 10px 40px 0 40px;
	background-color: #2ebd59;
	border: 2px solid #2ebd59;
	color: #fff;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-decoration: none;
}

a#btn_spotify:hover {
	background-color: #fff;
	border: 2px solid #000;
	color: #000;
}


a#btn_twitter {
	display: inline-block;
	height: 40px;
	box-sizing: border-box;
	border-radius: 4px;
	margin: auto;
	margin-top: 105px;
	padding: 10px 30px 0 30px;
	background-color: #56cdf1;
	color: #fff;
	font-size: 18px;
	font-family: 'Arial', sans-serif;
	font-weight: bold;
	text-decoration: none;
}

a#btn_twitter:hover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2ebfec+0,28a5cb+100 */
	background: #2ebfec; /* Old browsers */
	background: -moz-linear-gradient(top,  #2ebfec 0%, #28a5cb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2ebfec), color-stop(100%,#28a5cb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2ebfec 0%,#28a5cb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2ebfec 0%,#28a5cb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2ebfec 0%,#28a5cb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2ebfec 0%,#28a5cb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ebfec', endColorstr='#28a5cb',GradientType=0 ); /* IE6-9 */
}


a#btn_amazon {
	display: block;
	width: 100px;
	height: 100px;
	box-sizing: border-box;
	border-radius: 50px;
	margin: auto;
	margin-top: 75px;
	padding-top: 8px;
	background-color: #232f3e;
	color: #fff;
	text-align: center;
	font-size: 60px;
}

a#btn_amazon:hover {
	background-color: #fc9a18;
}


a#btn_indiegogo {
	display: inline-block;
	margin:auto;
	margin-top: 100px;
	padding: 8px 16px;
	background-color: #fff;
	color: #eb1478;
	font-family: 'Ubuntu', sans-serif;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: -2px;
}

a#btn_indiegogo:hover {
	color: #fff;
	background-color: #eb1478;
}

a#btn_cocacola{
	display:inline-block;
	width:120px;
	height:120px;
	margin-top:70px;
	border-radius: 100px;
	background: transparent url("../images/cocacola_white.png") no-repeat;
	background-size:contain;
}

a#btn_cocacola:hover {
	display:inline-block;
	width:120px;
	height:120px;
	margin-top:70px;
	border-radius: 100px;
	background: transparent url("../images/cocacola.png") no-repeat;
	background-size:contain;
}



#img_apple{
	width:60px;
	background:contain;
	margin-top:80px;
}

#img_apple:hover{
	opacity:.5;

}

a#btn_ibm{
	font-family: 'Arvo', 'sans-serif';
	display:inline-block;
	font-weight:700;
	font-size:60px;
	margin:auto;
	margin-top:100px;
	color:#006699;
	text-decoration:none;

}

a#btn_ibm:hover{
	transform:skewX(10deg);
	opacity:.5;

}

#img_nerf{
	width:150px;
	margin-top:90px;
}

#img_nerf:hover{
	transform: rotate(10deg);
	opacity:.3;

}


a#btn_harley {
	display:inline-block;
	width:120px;
	height:120px;
	margin-top:70px;
	background: transparent url("../images/harley.png") no-repeat;
	background-size:contain;

}


a#btn_harley:hover{
	display:inline-block;
	width:120px;
	height:120px;
	margin-top:70px;
	background: transparent url("../images/harley_color.png") no-repeat;
	background-size:contain;

}

a#btn_mkors {
	display:inline-block;
	width:180px;
	height:120px;
	margin-top:70px;
	margin-left:60px;
	background: transparent url("../images/mkors.jpg") no-repeat;
	background-size:contain;

}

a#btn_mkors:hover{
	display:inline-block;
	width:180px;
	height:120px;
	margin:auto;
	margin-top:125px;
	background: transparent url("../images/mkors_letters.png") no-repeat;
	background-size:contain;
	opacity:.5;

}

a#btn_ideo {
	margin-top:100px;
	display:inline-block;
	font-family:'Arvo', 'serif';
	font-size:48px;
	text-transform:uppercase;
	text-decoration:none;
}

a#btn_ideo:hover{
	width:180px;
	height:120px;
	margin:auto;
	background: transparent url("../images/ideo.png") no-repeat;
	background-size:contain;
	margin-top:100px;
	display:inline-block;
	letter-spacing:.2em;
}

a#btn_sardella{
	font-family:'Rye','sans-serif';
	margin-top:100px;
	display:inline-block;
	text-transform: uppercase;
	text-decoration: none;
	font-size:40px;
	color:black;

}

a#btn_sardella:hover{
	font-family:'Rye','sans-serif';
	margin-top:100px;
	display:inline-block;
	text-transform: uppercase;
	transform:skewY(14deg);


}

#img_craigs {
	width:180px;
	height:120px;
	margin-top:60px;
	display:inline-block;
}

#img_craigs:hover{
	width:180px;
	height:120px;
	margin-top:60px;
	display:inline-block;
	transform:scale(1.3);
}

a#btn_lyft {
	display:inline-block;
	width:180px;
	height:120px;
	margin-top:70px;
	background: transparent url("../images/lyft_1.svg") no-repeat;
	background-size:contain;
	margin-left:20px;

}

a#btn_lyft:hover{
	width:180px;
	height:120px;
	background: transparent url("../images/lyft_2.png") no-repeat;
	background-size:contain;
	opacity:.5;
	margin-left:60px;
}

a#btn_samsung {
	display:inline-block;
	width:180px;
	height:120px;
	margin-top:100px;
	background: transparent url("../images/samsung.png") no-repeat;
	background-size:contain;
}

a#btn_samsung:hover{
	transform:scale(1.4);
	opacity:.5;
}

a#btn_dime {
	margin-top:100px;
	display:inline-block;
	font-family:'Oswald', 'sans-serif';
	font-size:28px;
	text-transform:uppercase;
	text-decoration:none;
	font-weight:bold;
	color:gray;
}

a#btn_dime:hover{
	width:300px;
	height:120px;
	background: transparent url("../images/dime.png") no-repeat;
	font-size:0;
	background-size:100px;
	margin-top:50px;
	background-position:center;

}

a#btn_cartoonnetwork {
	display: inline-block;
	width: 180px;
	height:50px;
	margin-right: 20px;
	margin-top: 50px;
}

a#btn_cartoonnetwork:hover{
	display: inline-block;
	width: 180px;
	height:50px;
	margin-right: 20px;
	margin-top: 50px;
	transform:scale(.7);
	opacity:.5;
}

a#btn_bissingers {
	width:120px;
	height:140px;
	transform:scale(.5);
	margin-right: 50px;
	display:inline-block;
	margin-top: 30px;
}


a#btn_bissingers:hover{
	width:120px;
	height:140px;
	transform: rotate(20deg) scale(.5);
	margin-right: 50px;
	display:inline-block;
	margin-top: 30px;

}

a#btn_ofa{
	font-family: 'Lora','serif';
	text-decoration:none;
	color:white;
	border-radius:100px;
	background-color:#3599ca;
	width:130px;
	height:130px;
	display:inline-block;
	margin-top: 50px;
	font-size:90px;
	letter-spacing: 10;
}

a#btn_ofa:hover{
	background: transparent url("../images/ofa.png") no-repeat;
	background-size:contain;
	font-size:0px;
	margin-top: 50px;
	display:inline-block;
	width:400px;
	background-color: none;
	height:100px;
	margin-left:50px;
	border-radius:0;
}

a#btn_nbc{
	display:inline-block;
	width:50px;
	height:50px;
	transform:scale(.2);
	margin-right:100px;
	margin-top: 60px;
}

a#btn_nbc:hover{
	display:inline-block;
	width:50px;
	height:50px;
	transform:scale(.25);
	margin-right:120px;
	margin-top: 50px;

}

a#btn_nike {
	display:inline-block;
	width:180px;
	height:120px;
	margin-top:70px;
	background: transparent url("../images/nike_black.jpg") no-repeat;
	background-size:contain;
	margin-left:20px;

}

a#btn_nike:hover{
	width:180px;
	height:120px;
	background: transparent url("../images/nike_orange.jpg") no-repeat;
	background-size:contain;
	margin-left:20px;
}

a#btn_botanic{
	display:inline-block;
	width:180px;
	height:120px;
	transform:scale(.4);
	margin-right:90px;
}

a#btn_botanic:hover{
	display:inline-block;
	width:180px;
	height:120px;
	transform:scale(.4);
	margin-right:90px;
	opacity:.5;
}

a#btn_hulkho{
	font-family: 'Ubuntu', sans-serif;
	text-decoration:none;
	color:yellow;
	background-color:black;
	width:130px;
	height:75px;
	display:inline-block;
	font-size:30px;
	background-position:fixed;
	margin-top: 70px;
}

a#btn_hulkho:hover{
	background:transparent url("../images/hulk.jpg") no-repeat;
	background-size:contain;
	width:130px;
	height:130px;
	display:inline-block;
	font-size:0;
	background-position:fixed;
	margin-top: 70px;
}

a#btn_tesla {
	display:inline-block;
	width:180px;
	height:120px;
	margin-top:100px;
	background: transparent url("../images/tesla_letter.jpg") no-repeat;
	background-size:contain;

}

a#btn_tesla:hover{
	width:180px;
	height:120px;
	background: transparent url("../images/tesla_logo.jpg") no-repeat;
	background-size:contain;
	margin-left:60px;
	transform: translateY(-50px);
}

a#btn_fb{
	display: inline-block;
	width:180px;
	height:100px;
	transform:scale(.5)translateX(-30px);
	margin:auto;
	margin-right: 100px;
}

a#btn_fb:hover{
	display: inline-block;
	width:180px;
	height:100px;
	transform:scale(.5)translateX(-30px) translateY(-10px);
	margin:auto;
	opacity: .6;
	margin-right: 100px;
}

a#btn_insta{
	display:inline-block;
	width:180px;
	height:120px;
	margin:auto;
	margin-top:50px;
	margin-left:50px;
	background: transparent url("../images/insta_black.jpg") no-repeat;
	background-size:contain;

}

a#btn_insta:hover{
	width:180px;
	height:120px;
	margin:auto;
	margin-top: 50px;
	background: transparent url("../images/insta_color.png") no-repeat;
	background-size:contain;
	margin-left:50px;
}

a#btn_ny{
	display:inline-block;
	width:180px;
	height:120px;
	margin:auto;
	margin-top:100px;
	background: transparent url("../images/ny_letter.jpg") no-repeat;
	background-size:contain;

}

a#btn_ny:hover{
	width:180px;
	height:120px;
	margin:auto;
	margin-top: 110px;
	background: transparent url("../images/ny_logo.gif") no-repeat;
	background-size:contain;
	transform: scale(1.3);
}

a#btn_colorrun {
	margin-top:100px;
	display:inline-block;
	font-family:'Oswald', 'sans-serif';
	font-size:28px;
	text-transform:uppercase;
	text-decoration:none;
	font-weight:bold;
	color:black;
}

a#btn_colorrun:hover{
	width:300px;
	height:120px;
	background: transparent url("../images/colorrun.gif") no-repeat;
	font-size:0;
	background-size:100px;
	margin-top:100px;
	transform: scale(1.6) translateX(-10px) translateY(30px);
	margin:auto;
	background-position:center;

}

a#btn_fitbit{
	display:inline-block;
	width:180px;
	height:120px;
	margin:auto;
	margin-top:100px;
	background: transparent url("../images/fitbit_letter.png") no-repeat;
	background-size:contain;

}

a#btn_fitbit:hover{
	width:180px;
	height:120px;
	margin:auto;
	margin-top: 100px;
	background: transparent url("../images/fitbit_logo.png") no-repeat;
	background-size:contain;
}

